/*1.导航栏*/
#nav{
    margin-top:50px;

}
/*1.1三列布局*/
/*左列logo*/
.nav_top>img{
    float:left;
    width:168px;
    border-radius:10px;
}
/*中间搜索框*/
.search{
    float:left;
    margin-left:240px;
    position:relative;
}
.search input{
    width:380px;
    height:36px;
    border:1px solid #999;
    border-radius:18px;
    padding:0;
    padding-left:10px;
}
.search img{
    width:36px;
    height:36px;
    position:absolute;
    right:0;
    top:1px;
}
/*右列导航*/
.nav_top>ul{
    float:right;
}